<div class="page-action">
    <mat-form-field appearance="outline">
        <input matInput required
               placeholder="Name"
               [(ngModel)]="name"
        >
    </mat-form-field>
    <button mat-raised-button color="primary" class="ml-3" (click)="updateUser()">Save Changes</button>
</div>
<div class="listing-container-roles table-card table-styled">
    <div class="table-title">Client Roles Mapping</div>
    <table
            mat-table
            [dataSource]="dataSource"
            multiTemplateDataRows
            matSort
            class="listing-table"
    >
        <ng-container
                matColumnDef="{{ column }}"
                *ngFor="let column of columnsToDisplay"
        >
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{ clientAttributesReadableMap.get(column) }}
            </th>
            <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="columnsHeadersToDisplay"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsHeadersToDisplay"></tr>
    </table>
</div>
