<div class="d-flex client-general-wrapper">
  <mat-card  class="transparent-effect-card">
    <mat-card-header>
      <mat-card-title class="d-flex align-items-center">
        <mat-icon class="material-symbols-outlined mr-2">
        security
      </mat-icon> Security settings
    </mat-card-title>
      <mat-card-subtitle class="mt-2">General security settings for all devices</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Security code</mat-label>
          <input matInput required placeholder="0000"
                 [(ngModel)]="deviceSecurityCode"
                 maxlength="4"
                 minlength="4"/>
        </mat-form-field>

        <mat-slide-toggle [(ngModel)]="workerCodeWatchEnabled" class="my-3">
          <mat-label>Watch user should enter a 2 digit code to switch from worker</mat-label>
        </mat-slide-toggle>
        <mat-slide-toggle [(ngModel)]="workerCodeClockEnabled">
          <mat-label >Clock user should enter a 2 digit code to switch from worker</mat-label>
        </mat-slide-toggle>
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-flat-button (click)="saveDeviceSecurityCode()" color="primary">SAVE</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="transparent-effect-card">
    <mat-card-header>
      <mat-card-title class="d-flex align-items-center">
        <mat-icon class="material-symbols-outlined mr-2">
          checklist
      </mat-icon> Correction
    </mat-card-title>
      <mat-card-subtitle class="mt-2">Overall correction factor for all countings</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Correction factor</mat-label>
          <input matInput required placeholder="00.00"
                 [(ngModel)]="correctionFactor"
                 />
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions align="end" style="margin-right: 1rem;">
      <button mat-flat-button (click)="saveCorrectionFactor()" color="primary">SAVE</button>
    </mat-card-actions>
  </mat-card>

</div>
