@use '@angular/material' as mat;
@import '@angular/material/theming';
$primary: mat.define-palette($mat-blue-gray);

ngx-simplebar {
  max-height: 60vh;
  overflow: auto;
}

::ng-deep .simplebar-scrollbar::before {
  background-color: #fff !important;
  width: 4px;
  margin: 60px 0px 0px 0px;
}

.listing-filter {
  margin-bottom: 16px;
  font-size: 14px;
  padding-bottom: 0;
  width: 100%;
  margin-right: 10%;
}

.listing-filter-with-archival {
  font-size: 14px;
  padding-bottom: 0;
  width: 82%;
  float: left;
}

.listing-table-main-heading {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 10px;
  text-decoration: underline;
}


/* TODO(mdc-migration): The following rule targets internal classes of paginator that may no longer apply for the MDC version. */
/* TODO(mdc-migration): The following rule targets internal classes of paginator that may no longer apply for the MDC version. */
mat-paginator {
  width: 100%;
}

::ng-deep.mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
  padding-top: 8px;
  padding-bottom: 0px !important;
}

::ng-deep.mat-mdc-form-field-subscript-wrapper {
  height: 0 !important;
}


.mat-mdc-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-mdc-text-field-wrapper {
  background-color: #0e62ff !important;
}

.performance-actions {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}
.preformance-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  >div{
    display: flex;
    gap: 10px;
  }
}

.video-streaming{
  cursor: pointer;
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  font-size: 3rem;
}
.setting-add-button{
  height: 47px !important;
}
.controls-container{
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  .date-container{
    flex: 1;
}
}