@use '@angular/material' as mat;
@import '@angular/material/theming';
$primary: mat.define-palette($mat-blue-gray);

.listing-container {
  margin: auto;
  padding: 32px 100px;
  max-width: 80%;
  min-width: 600px;
}

ngx-simplebar {
  max-height: 60vh;
  overflow: auto;
}

::ng-deep .simplebar-scrollbar::before {
  background-color: #fff !important;
  width: 4px;
  margin: 60px 0px 0px 0px;
}

.listing-filter {
  margin-bottom: 16px;
  font-size: 14px;
  padding-bottom: 0;
  width: 100%;
  margin-right: 10%;
}

.listing-filter-with-archival {
  font-size: 14px;
  padding-bottom: 0;
  width: 82%;
  float: left;
}

.listing-table-main-heading {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 10px;
  text-decoration: underline;
}

table.listing-table {
  width: 100%;
}

button.listing-table-tools {
  visibility: hidden;
}

a.listing-table-tools {
  visibility: hidden;
}

td.listing-table-tools {
  text-align: right;
  width: 1%;
  white-space: nowrap;
}

table.listing-table tr:hover .listing-table-tools {
  visibility: visible;
}

td:hover .tdhover{
  visibility: visible !important;
}

tr.row-detail {
  height: 0;
}

tr.row:not(.expanded-row):hover {
  background-color: mat-color($primary, 700);
  cursor: pointer;
}

tr.row {
  cursor: pointer;
  border-bottom-width: 0;
}

div.row-detail {
  overflow: hidden;
  display: flex;
}

div.row-detail-description {
  padding: 16px;
}

div.row-detail-description > table {
  border-collapse: collapse;
}

td.details {
  border: 0px solid #545454;
  color: #9c9c9c;
  padding-right: 6px;
  text-align: left;
  font-weight: 500;
}

td.key {
  font-weight: 400;
}

td.value {
  font-weight: 100;
}

/* TODO(mdc-migration): The following rule targets internal classes of paginator that may no longer apply for the MDC version. */
/* TODO(mdc-migration): The following rule targets internal classes of paginator that may no longer apply for the MDC version. */
mat-paginator {
  width: 100%;
}

::ng-deep.mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
  padding-top: 8px;
  padding-bottom: 0px !important;
}

::ng-deep.mat-mdc-form-field-subscript-wrapper {
  height: 0 !important;
}

.sort-dropdown-wrapper {
  float: left;
  margin-left: 2rem;
  margin-top: 18px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  padding: 0 0.4rem 0 0.2rem;
  display: block;
  height: 39px;
}

.sort-dropdown-formfield {
  float: left;
  height: 34px;
  width: 11.5rem;
  margin-top: 0.1rem;
}

.mat-mdc-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-mdc-text-field-wrapper {
  background-color: #0e62ff !important;
}




