<div class="page-top-space">
  <mat-card class="page-main-card">
    <mat-card-content>
      <div class="d-flex align-item-center page-action">
        <nav class="tabs-selection" mat-tab-nav-bar mat-align-tabs="center"
        [tabPanel]="tabPanel">
          <a mat-tab-link label="PRESENCES" (click)="tabIndex = -1"
             [routerLink]="'/dashboard/labor/presences'"
             [active]="tabIndex === -1">
            Presences
          </a>
          <a mat-tab-link label="OVERVIEW" (click)="tabIndex = 0"
             [routerLink]="'/dashboard/labor/overview'"
             [active]="tabIndex === 0">
            Overview
          </a>
          <a mat-tab-link label="TROLLEY" (click)="tabIndex = 1"
             [routerLink]="'/dashboard/labor/trolley'"
             [active]="tabIndex === 1">
            Trolley
          </a>
          <a mat-tab-link label="PERFORMANCE" (click)="tabIndex = 2"
             [routerLink]="'/dashboard/labor/performance'"
             [active]="tabIndex === 2">
            Performance
          </a>
          <a mat-tab-link label="PRODUCTIVITY" (click)="tabIndex = 3"
             [routerLink]="'/dashboard/labor/productivity'"
             [active]="tabIndex === 3">
            Productivity
          </a>
        </nav>
      </div>
      
      <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
      <router-outlet></router-outlet>
    </mat-card-content>
  </mat-card>
 

</div>
