<section class="new-table-design-container" tabindex="0" style="margin-top: 4px;">
  <div class="controls-container filter-container">
    <button
  mat-fab
  color="accent"
  (click)="openDialog()"
  class="fab"
>
  <mat-icon
    matTooltip="Create new Worker"
    matTooltipClass="tooltip-class"
    matTooltipHideDelay="100000"
    style="width: 44px; height: 24px"
  >add</mat-icon
  >
</button>
    <div class="date-container"> 
      <mat-form-field appearance="outline">
        <mat-label>Select a week</mat-label>
        <mat-date-range-input [rangePicker]="picker" [formGroup]="dateRange">
          <input matStartDate formControlName="start" placeholder="Start date" />
          <input matEndDate formControlName="end" placeholder="End date" />
        </mat-date-range-input>
        <mat-hint>Week {{weekNumber}}</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker>
          <mat-date-range-picker-actions>
            <div class="date-picker-actions-container">
              <mat-button-toggle-group [formControl]="quickControl" name="weekCustomToggle" vertical>
              </mat-button-toggle-group>
              <div>
                <button mat-button matDateRangePickerCancel>Cancel</button>
                <button mat-raised-button color="primary" matDateRangePickerApply>
                  Apply
                </button>
              </div>
            </div>
          </mat-date-range-picker-actions>
        </mat-date-range-picker>
      </mat-form-field>
    </div>
    <div *ngIf="weekNumber" style="float: left; margin-left: -1rem;color: lightgray;">Week {{weekNumber}}</div>
    <button mat-icon-button aria-label="" matTooltip="Export as CSV" style="float:right;" [matMenuTriggerFor]="downloadMenu">
      <mat-icon>download</mat-icon>
    </button>
    <mat-menu #downloadMenu="matMenu">
      <button mat-menu-item (click)="exportCSV('WEEK_OVERVIEW_WITHOUT_TITLE')">
        Week overview without title</button>
      <button mat-menu-item (click)="exportCSV('WEEK_OVERVIEW_WITH_TITLE')">
        Week overview with title
      </button>
      <button mat-menu-item (click)="exportCSV('DAILY_OVERVIEW_WITHOUT_TITLE')">
        Daily overview without title
      </button>
      <button mat-menu-item (click)="exportCSV('DAILY_OVERVIEW_WITH_TITLE')">
        Daily overview with title
      </button>
    </mat-menu>
    <mat-button-toggle-group
      style="max-width: 8rem;float:right;"
      class="archive-toggle"
      [(ngModel)]="selectedView"
      #group="matButtonToggleGroup"
    >
      <mat-button-toggle
        value="listView"
        (click)="toggleArchived(false);"
        checked
        matTooltip="All items"
      >
        <mat-icon>list</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="archiveView" (click)="toggleArchived(true);" matTooltip="Archived items">
        <mat-icon>archive</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>

  </div>

<div class="table-card">
  <div *ngIf="isArchivedShown">Archived Presences</div>
  <section class="new-table-design-container table-body mat-elevation-z8 expandable-table" tabindex="0">
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort>
      <ng-container [matColumnDef]="column.name" *ngFor="let column of columns">
        <th mat-header-cell class="table-header" *matHeaderCellDef>
          <div class="table-header-container">
            <div class="table-header-content-text">{{column.displayName}}</div>
            <!--<div class="table-header-content-spacer"></div>-->
            <div class="table-header-content-menu">
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
                class="menu-button" *ngIf="column.showHeaderFilter" [class]="column.filtered ? 'filtered' : ''">
                <mat-icon>filter_list</mat-icon>
              </button>
              <mat-menu #menu="matMenu" class="menu customize" xPosition="before">
                <button mat-menu-item (click)="sortList(column.name,'asc')">
                  <mat-icon></mat-icon>
                  <span>Sort A → Z</span>
                </button>
                <button mat-menu-item (click)="sortList(column.name,'desc')">
                  <mat-icon></mat-icon>
                  <span>Sort Z → A</span>
                </button>
                <form class="example-form" (click)="$event.stopPropagation()">
                  <mat-form-field class="filter">
                    <mat-label>Filter Value</mat-label>
                    <input type="text" placeholder="" aria-label="Filter Value" matInput
                      [ngModelOptions]="{standalone: true}" [(ngModel)]="column.filterValue" [matAutocomplete]="auto"
                      (keyup)="headerFilter($event, column.name)" (focus)="headerFilter($event, column.name)" />
                    <mat-icon matSuffix>search</mat-icon>
                    <mat-autocomplete #auto="matAutocomplete">
                      <mat-option *ngFor="let option of column.filterOptions" [value]="option">
                        {{option}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </form>
                <button mat-menu-item (click)="removeFilters()">
                  <mat-icon>filter_list_off</mat-icon>
                  <span>Remove all filters</span>
                </button>
              </mat-menu>
            </div>
          </div>
        </th>
        <td mat-cell *matCellDef="let element">{{element[column.name]}}</td>
        <td mat-footer-cell *matFooterCellDef>{{column.footerValue}} </td>
      </ng-container>
  
      <!--<ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" class="listing-table-tools">
          <button
            mat-icon-button
            color="accent"
            (click)="openEditDialog($event, element)"
            class="listing-table-tools tdhover"
            matTooltip="Edit Presence"
            matTooltipClass="tooltip-class"
            matTooltipHideDelay="100"
            matTooltipPosition="below"
            style="margin-left: 14px;"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>-->
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="getDisplayedCols().length">
          <div class="row-detail-expanded" [@detailExpand]="
                  element.workerId == expandedElement?.workerId ? 'expanded' : 'collapsed'">
            <div class="row-detail-description">
              <div class="example-element-description__header">
                <div class="example-element-description__cell" *ngFor="let column of columnsHeadersToDisplayNested">
                  {{workerNestedAttributesReadableMap.get(column)}}</div>
              </div>
              <div *ngFor="let nestedColumn of element['nestedRows']; let idx = index"
                class="example-element-description__content">
                <div class="example-element-description__cell" *ngFor="let column of columnsToDisplayNested">
                  <span *ngIf="column !== 'edit'">{{nestedColumn[column]}}</span>
                  <span *ngIf="column === 'edit' && nestedColumn.presenceDoc">
                    <mat-icon (click)="openEditDialog($event, nestedColumn)"
                      style="transform: scale(0.8); cursor: pointer;">edit</mat-icon>
                  </span>
                </div>
              </div>
            </div>
  
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="getDisplayedCols(); sticky: true"></tr>
      <tr mat-row [class.hidden]="toggleTableChart !== 'table'" *matRowDef="let element; columns: getDisplayedCols();"
        [class.expanded-row]="applyExpandedClass(element)" (click)="expandRow(element)"></tr>
      <tr style="height: 0;" mat-row *matRowDef="let element; columns: ['expandedDetail']" class="row-detail expandable-row"></tr>
      <tr mat-footer-row class="footer-row" *matFooterRowDef="displayedColumns; sticky: true"></tr>
    </table>
  </section>
  
  <section class="new-table-design-container mat-elevation-z8" tabindex="0">
    <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons aria-label="Select page">
    </mat-paginator>
  </section>
</div>
</section>

