.mat-mdc-dialog-actions {
  display: inline-flex !important;
}

.left_handed_toggle {
  display: inline-block;
  position: relative;
  text-align: left;
  margin-left: -3.2rem;
  margin-bottom: 1rem;
}

