<div style="text-align: center; margin-top: 2.5rem; overflow: hidden;" *ngIf="selectedClientDocData">
  <mat-icon style="margin-right: 2rem;cursor: pointer;transform: scale(1.6)" (click)="decrementMonth()" *ngIf="!isRowMapTabShown">
    keyboard_double_arrow_left
  </mat-icon>
  <mat-icon style="margin-right: 2rem;color:darkgrey;transform: scale(1.6)" *ngIf="isRowMapTabShown">
    keyboard_double_arrow_left
  </mat-icon>
  <mat-icon style="margin-right: 2rem;cursor: pointer;" (click)="decrementDate()" *ngIf="!isRowMapTabShown">arrow_back_ios</mat-icon>
  <mat-icon style="margin-right: 2rem;color: darkgrey;" *ngIf="isRowMapTabShown">arrow_back_ios</mat-icon>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepickerFilter]="futureFilter" (dateChange)="onDateChange()"
           [(ngModel)]="selectedDate" [matDatepicker]="picker" [disabled]="isRowMapTabShown">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-icon style="margin-left: 2rem;cursor: pointer;" (click)="incrementDate()" *ngIf="!isRowMapTabShown">arrow_forward_ios</mat-icon>
  <mat-icon style="margin-left: 2rem;color:darkgrey;" *ngIf="isRowMapTabShown">arrow_forward_ios</mat-icon>
  <mat-icon style="margin-left: 2rem;cursor: pointer;transform: scale(1.6)" (click)="incrementMonth()" *ngIf="!isRowMapTabShown">
    keyboard_double_arrow_right
  </mat-icon>
  <mat-icon style="margin-left: 2rem;color: darkgrey; transform: scale(1.6)" (click)="incrementMonth()" *ngIf="isRowMapTabShown">
    keyboard_double_arrow_right
  </mat-icon>
</div>
<nav mat-tab-nav-bar mat-align-tabs="center" style="margin-left: 3%; margin-right: 3%;margin-top: 0.5rem;"
     [tabPanel]="tabPanel">
  <a mat-tab-link label="ROW MAP" (click)="navigateToRowMapTab()"
     [active]="tabIndex === 0">
    ROW MAP
  </a>
  <a mat-tab-link label="ROW" (click)="navigateToRowTab()"
     [active]="tabIndex === 1">
    ROW
  </a>
  <a mat-tab-link label="VARIETY" (click)="navigateToVarietyTab()"
     [active]="tabIndex === 2">
    VARIETY
  </a>
</nav>
<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
<router-outlet></router-outlet>
