.fab {
  position: fixed;
  right: 24px;
  bottom: 24px;
}

.fabArchive {
  position: absolute;
  right: 0;
  top: -4px;
}

.controls-container{
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  .date-container{
    flex: 1;
}
}
