.listing-container-prdctvty {
  margin-left: 10%;
  max-width: 80%;
  min-width: 20%;
  overflow: hidden;
}

/* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
/* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
/* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
.mat-mdc-select-panel-wrap {
  position: relative !important;
}
