
<div class="performance-actions">
  <div>
    <mat-button-toggle-group #group="matButtonToggleGroup" [(ngModel)]="rowChartVsTable">
      <mat-button-toggle value="chart" aria-label="Text align left">
        <mat-icon class="material-symbols-outlined"
          matTooltip="See Chart"
          matTooltipClass="tooltip-class"
          matTooltipHideDelay="100"
          matTooltipPosition="below"
        >bar_chart
        </mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="table" aria-label="Text align center">
        <mat-icon class="material-symbols-outlined"
          matTooltip="See Table"
          matTooltipClass="tooltip-class"
          matTooltipHideDelay="100"
          matTooltipPosition="below"
        >table_chart
        </mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div class="sort-dropdown-wrapper"
       [style.display]="isRowChartDisplayed()">
    
    <mat-form-field class="sort-dropdown-formfield" appearance="outline">
      <mat-icon matPrefix>sort</mat-icon>
      <mat-select [(value)]="rowSortOption"
                (selectionChange)="rowSortOptionChanged()"
                style="margin-left: 0.4rem;"
                [disabled]="(!prdctvtyRowData || (prdctvtyRowData.length === 0))">
      <mat-option value="AZ">Sort A &rarr; Z</mat-option>
      <mat-option value="ZA">Sort Z &rarr; A</mat-option>
      <mat-option value="HL">Sort High &rarr; Low</mat-option>
      <mat-option value="LH">Sort Low &rarr; High</mat-option>
    </mat-select>
    </mat-form-field>
  </div>
</div>

<div class="table-card">
  <div class="preformance-info">
    <div *ngIf="prdctvtyRowData?.length > 0">
        <span><span class="cstm-color">TOTAL FINISHED</span> {{countData.finished.count}} picked, {{countData.finished.rows}} rows</span> <br/>
        <span><span class="cstm-color">TOTAL ACTUAL</span> {{countData.totalAll.count}} picked, {{countData.totalAll.rows}} rows</span> <br/>
    </div>
    <mat-icon
      matTooltip="Download as CSV"
      matTooltipClass="tooltip-class"
      matTooltipHideDelay="100"
      matTooltipPosition="below"
      (click)="downloadAsCSV('Rows')"
      *ngIf="prdctvtyRowData.length > 0">download
    </mat-icon>
  </div>

  <div [style.display]="isRowChartDisplayed()"
     [style.height.px]="graphHeight"
     *ngIf="prdctvtyRowData?.length > 0">
  <ngx-charts-bar-horizontal-stacked
    [view]=""
    [scheme]="colorScheme"
    [results]="prdctvtyRowData"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [legendTitle]="legendTitle"
    [roundDomains]="roundDomains"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [showGridLines]="false"
    [showDataLabel]="showDataLabel"
    [animations]="chartAnimation"
    (select)="onSelect($event)"
    style="fill: #F3F3F3;" *ngIf="[prdctvtyRowData]">
    <ng-template #tooltipTemplate let-model="model">
      <div class="tooltip" style='text-align: left;' [innerHTML]="getToolTip(model) | safeHtml">
      </div>
    </ng-template>
    >
  </ngx-charts-bar-horizontal-stacked>
</div>

<section class="listing-container-prdctvty table-styled" style="clear: both;" [style.display]="isRowTableDisplayed()">
  <table
    mat-table
    [dataSource]="rowsDataSource"
    multiTemplateDataRows
    matSort
    class="listing-table"
  >
    <ng-container
      matColumnDef="{{ column }}"
      *ngFor="let column of rowsColumnsToDisplay"
    >
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ prdctvtyAttributesReadableMap.get(column) }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="columnsHeadersToDisplay; sticky: true"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsHeadersToDisplay"></tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 25, 100]"
    [pageSize]="25"
    [showFirstLastButtons]="true"
  ></mat-paginator>
</section>
<div
  style="margin-top: 6rem; padding-top: 2rem; text-align: center; clear: both;font-size: 1.2rem;overflow: hidden;"
  [style.height.px]="graphHeight" *ngIf="(prdctvtyRowData?.length === 0)">
  There is no data available for the selected date
</div>
</div>


