.main-video-wrapper{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  header{
    border-bottom: 1px solid #00ffa7;
  }

  main{
    display: flex;
    flex: 1 1 auto;
    min-height: 1px;

    .left-section{
      max-width: 270px;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: #1b2429;
      flex: 0 0 auto;

      .annotation-list-container{
        max-height: 400px;
        overflow: auto;
      }
    }
    .video-section{
      flex: 1 1 auto;
      background-color: #243036;
      border: 1px solid #00ffa7;
      border-top: 0;
    }

    .right-section{
      max-width: 300px;
      width: 100%;
      height: calc(100% - 5px);
      overflow: auto;
      background-color: #1b2429;
      flex: 0 0 auto;
    }
  }
}









.spacer {
  flex: 1 1 auto;
}

.container {
  display: flex;
  flex-direction: column;
  height: 90vh;
}

.toolbar {
  flex: 0 0 auto;
  background: #1b2429;
}

.main_grid {
  flex: 1 1 auto;
}

/* ANNOTATION */
.annotation-container {
  background-color: #303030;
  min-width: 20rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2px;
  margin-left: 15%;
}

.annotation-controls-container {
  flex: 0 0 auto;
}

// .annotation-list-container {
//   flex: 1 1 auto;
//   overflow-y: auto;
//   border-top: 2px solid mintcream;
//   margin-left: 3.5%;
//   padding-left: 0.1rem;
//   margin-top: 0;
//   width: 82%;
//   margin-bottom: 3.5rem;
//   margin-right: -2rem;

//   &::-webkit-scrollbar-corner {
//     border-radius: 5px;
//     width: 8px;
//   }
// }

/* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
/* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
// .mat-list-option-custom {
//   max-width: 16.8rem;
//   margin-left: -1rem;
//   overflow: hidden;
//   max-height: 2.2rem;
// }


/* TRAINING INFO */

.training_info_card_form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 8px !important;
  width: 90%;
  margin: auto;
  margin-top: 1rem;
}

.training_info_card_display {
  display: flex;
  width: 90%;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0.5rem 0 0.5rem 0.7rem !important;
  margin: auto;
  font-size: 0.75rem;
  line-height: 0.85rem;
  border-radius: 0;
  margin-top: 1rem;
}

.card {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  margin: 10px;
}

/* VIDEO */
.video-container {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
}

.video-center {
  // position: absolute;
  // margin: auto;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  display: flex;
    justify-content: center;
    align-items: center;
}


.annotation_button {
  height: 2rem;
  margin-top: 0;
  padding-top: 0;
}

.player_card {
  background-color: black;
}

.list_item_time {
  margin-right: 2em;
  font-weight: 100 !important;
}

.list_item_label {
  font-weight: 500 !important;
}

.time_input {
  width: 2.5rem;
  margin-right: 0.5em;
}

.time_input_container {
  margin-right: 0.5em;
  float: left;
  margin-top: 1.2rem;
}

// .relative_time_toggle {
//   margin-bottom: 1rem;
// }

.grid-tile-content {
  width: 80%;
}

.video_id_input {
  height: 0.8rem;
}


  .mat-form-field-wrapper {
    /* margin-bottom: -0.45rem; */
    max-width: 9rem;
    max-height: 2.7rem !important;
    font-size: 0.7rem;
    line-height: 1.15;
    padding: 0 0 0.5rem;
  }
  .gap-4{
    gap: 4px;
  }
  .card {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    margin: 10px;
  }

@media only screen and (max-width: 1199px) {
  .annotation-list-container {
    flex: 1 1 auto;
    overflow-y: auto;
    border-top: 2px solid mintcream;
    margin-left: 0;
    padding-left: 0;
    margin-top: 0;
    width: 76%;
    margin-bottom: 4.8rem;

    &::-webkit-scrollbar-corner {
      border-radius: 5px;
      width: 8px;
    }
 
  }

  .video-container {
    width: 90%;
    height: 90%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
  }
}
