::ng-deep .ngx-charts .tick text {
  font-size: 0.9rem !important;
}

::ng-deep .chart-legend .legend-labels {
  overflow: hidden !important;
  margin-left: 0.5rem !important;
}

::ng-deep .chart-legend .legend-title {
  margin-left: 1.4rem !important;
}

.listing-container-laborPerf {
  margin-left: 10%;
  max-width: 80%;
  min-width: 20%;
  overflow: hidden;
}
