<div class="performance-actions">
  <app-date-selection class="f-grow"></app-date-selection>
  
  <div class="sort-dropdown-wrapper"
       [style.display]="isChartSectionDisplayed()">
    
    <mat-form-field appearance="outline" class="sort-dropdown-formfield">
      <mat-icon matPrefix>sort</mat-icon>
      <mat-select [(ngModel)]="performanceSortOption"
                  (selectionChange)="performanceSortOptionChanged()"
                  [disabled]="(!allAvgsPerformanceData || (allAvgsPerformanceData.length === 0))">
        <mat-option value="-1">All averages</mat-option>
        <mat-option *ngFor="let worker of allWorkersList" [value]="worker.workerId">
          {{worker.workerName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="sort-dropdown-wrapper"
       [style.display]="isAvgPerformanceChartDisplayed()">
   
    <mat-form-field class="sort-dropdown-formfield" appearance="outline">
      <mat-icon matPrefix>sort</mat-icon>
      <mat-select [(value)]="dataSortOption"
                  (selectionChange)="dataSortOptionChanged()"
                  style="margin-left: 0.4rem;"
                  [disabled]="(!allAvgsPerformanceData || (allAvgsPerformanceData.length === 0))">
        <mat-option value="AZ">Sort A &rarr; Z</mat-option>
        <mat-option value="ZA">Sort Z &rarr; A</mat-option>
        <mat-option value="PerfH2L">Sort Perf. Ratio High &rarr; Low</mat-option>
        <mat-option value="PerfL2H">Sort Perf. Ratio Low &rarr; High</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div [style.display]="isWorkerSpecificPerfChartDisplayed()">
    
    <mat-form-field class="sort-dropdown-formfield" appearance="outline">
      <mat-icon matPrefix>sort</mat-icon>
      <mat-select [(value)]="dataWorkerSpecificSortOption"
                  (selectionChange)="dataWorkerSpecificSortOptionChanged()"
                  style="margin-left: 0.4rem;"
                  [disabled]="(!allAvgsPerformanceData || (allAvgsPerformanceData.length === 0))">
        <mat-option value="AZ">Sort A &rarr; Z</mat-option>
        <mat-option value="ZA">Sort Z &rarr; A</mat-option>
        <mat-option value="NetPerfH2L">Sort Net Perf. High &rarr; Low</mat-option>
        <mat-option value="NetPerfL2H">Sort Net Perf. Low &rarr; High</mat-option>
        <mat-option value="RowL2H">Sort Row Low &rarr; High</mat-option>
        <mat-option value="RowH2L">Sort Row High &rarr; Low</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    
    <mat-button-toggle-group #group="matButtonToggleGroup" [(ngModel)]="performanceChartVsTable">
      <mat-button-toggle value="chart" aria-label="Text align left">
        <mat-icon class="material-symbols-outlined"
          matTooltip="See Chart"
          matTooltipClass="tooltip-class"
          matTooltipHideDelay="100"
          matTooltipPosition="below"
        >bar_chart
        </mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="table" aria-label="Text align center">
        <mat-icon class="material-symbols-outlined"
          matTooltip="See Table"
          matTooltipClass="tooltip-class"
          matTooltipHideDelay="100"
          matTooltipPosition="below"
        >table_chart
        </mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>
<div class="table-card">
  <div class="preformance-info">
    <div
    *ngIf="allAvgsPerformanceData?.length > 0">
 <span><span class="cstm-color">TOTAL FINISHED</span> {{countData.finished.count}} picked, {{countData.finished.rows}} rows</span> <br/>
 <span><span class="cstm-color">TOTAL ACTUAL</span> {{countData.totalAll.count}} picked, {{countData.totalAll.rows}} rows</span> <br/>
</div>
<mat-icon
   matTooltip="Download as CSV"
   matTooltipClass="tooltip-class"
   matTooltipHideDelay="100"
   matTooltipPosition="below"
   (click)="downloadAsCSV('Performance')"
   *ngIf="allAvgsPerformanceData.length > 0">download
 </mat-icon>
  </div>
  <div
  [style.height.px]="graphHeight"
  [style.display]="isAvgPerformanceChartDisplayed()"
  *ngIf="allAvgsPerformanceData?.length > 0">
<ngx-charts-bar-horizontal-2d
 [view]=""
 [scheme]="colorScheme"
 [results]="allAvgsPerformanceData"
 [gradient]="gradient"
 [xAxis]="showXAxis"
 [yAxis]="showYAxis"
 [legend]="showLegend"
 [showXAxisLabel]="showXAxisLabel"
 [showYAxisLabel]="showYAxisLabel"
 [xAxisLabel]="xAxisLabel"
 [yAxisLabel]="yAxisLabel"
 [barPadding]="barPadding"
 [noBarWhenZero]="true"
 [showGridLines]="false"
 [showDataLabel]="showDataLabel"
 [animations]="chartAnimation"
 (select)="onSelect($event)"
 style="fill: #F3F3F3;"
>
 <ng-template #tooltipTemplate let-model="model">
   <div class="tooltip" [innerHTML]="getToolTipForAvgsChart(model) | safeHtml">
   </div>
 </ng-template>
</ngx-charts-bar-horizontal-2d>
</div>
<div
  *ngIf="sessionsData?.length === 0">
There is no data available for the selected date
</div>
<div [style.height.px]="graphHeightWorkerSpecific"
  [style.display]="isWorkerSpecificPerfChartDisplayed()"
  *ngIf="workerSpecificPerformanceData?.length > 0 && !allValuesZero">
<ngx-charts-bar-horizontal-2d
 [view]=""
 [scheme]="colorScheme"
 [results]="workerSpecificPerformanceData"
 [gradient]="gradient"
 [xAxis]="showXAxis"
 [yAxis]="showYAxis"
 [legend]="showLegend"
 [showXAxisLabel]="showXAxisLabel"
 [showYAxisLabel]="showYAxisLabel"
 [xAxisLabel]="xAxisLabel"
 [yAxisLabel]="yAxisLabelWorkerSpecific"
 [barPadding]="barPaddingWorkerSpecific"
 [noBarWhenZero]="true"
 [showGridLines]="false"
 [showDataLabel]="showDataLabel"
 [animations]="chartAnimation"
 (select)="onSelect($event)"
 style="fill: #F3F3F3;"
>
 <ng-template #tooltipTemplate let-model="model">
   <div class="tooltip" style='text-align: left;' [innerHTML]="getToolTipForWorkerSpecificChart(model) | safeHtml">
   </div>
 </ng-template>
</ngx-charts-bar-horizontal-2d>
</div>

<div *ngIf="(isWorkerSpecificPerfChartDisplayed() === 'none') && this.performanceSortOption !== '-1'
  && (workerSpecificPerformanceData?.length === 0) && (isPerformanceTableDisplayed() === 'none')">
There is no worker specific data available for the selected date
</div>

<div *ngIf="(isWorkerSpecificPerfChartDisplayed() === 'block') && (isPerformanceTableDisplayed() === 'none') && allValuesZero">
Worker specific chart cannot be displayed due to missing data
</div>

<section class="listing-container-laborPerf table-styled" style="clear: both;" [style.display]="isPerformanceTableDisplayed()">
<table
 mat-table
 [dataSource]="laborPerfDataSource"
 multiTemplateDataRows
 matSort
 class="listing-table"
>
 <ng-container
   matColumnDef="{{ column }}"
   *ngFor="let column of laborPerfColumnsToDisplay"
 >
   <th mat-header-cell *matHeaderCellDef mat-sort-header>
     <span [innerHTML]="laborPerfAttributesReadableMap.get(column) | safeHtml"></span>
   </th>
   <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
 </ng-container>


 <tr mat-header-row *matHeaderRowDef="columnsHeadersToDisplay; sticky: true"></tr>
 <tr mat-row *matRowDef="let element; columns: columnsHeadersToDisplay"></tr>
</table>
<mat-paginator
 [style.display]="isPerformanceTableDisplayed()"
 [pageSizeOptions]="[5, 10, 25, 100]"
 [pageSize]="25"
 [showFirstLastButtons]="true"
></mat-paginator>
</section>
</div>

