::ng-deep .ngx-charts .tick text {
  font-size: 0.9rem !important;
}

::ng-deep .chart-legend .legend-labels {
  overflow: hidden !important;
  margin-left: 0.5rem !important;
}

::ng-deep .chart-legend .legend-title {
  margin-left: 1.4rem !important;
}
::ng-deep{
  .sort-dropdown-formfield{
    .mat-mdc-form-field-infix{
      min-height: 50px !important;
      padding-top: 12px !important;
      padding-bottom: 12px !important;
    }
  }
  
}

