<div style="min-width: 400px;min-height: 35rem;">
  <mat-dialog-content [formGroup]="form" style="text-align: center;min-height:30rem;padding-bottom: 0;">
    <mat-form-field appearance="fill">
      <mat-label>Location</mat-label>
      <mat-select formControlName="locationId" (selectionChange)="onLocationChange()">
        <mat-option [value]="null">Select Location</mat-option>
        <mat-option *ngFor="let location of allLocationsList" [value]="location.id">
          {{location.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br/>
    <mat-form-field appearance="fill">
      <mat-label>Row</mat-label>
      <mat-select formControlName="rowId">
        <mat-option [value]="null">Select Row</mat-option>
        <mat-option *ngFor="let row of mappedRowsList" [value]="row.id">
          {{row.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br/>
    <mat-form-field appearance="fill">
      <mat-label>Worker</mat-label>
      <mat-select formControlName="workerId">
        <mat-option [value]="null">Select Worker</mat-option>
        <mat-option *ngFor="let worker of allWorkersList" [value]="worker.id">
          {{worker.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br/>
    <mat-form-field>
      <mat-label>Trolley</mat-label>
      <input matInput formControlName="trolleyId">
    </mat-form-field>
    <br/>
    <mat-form-field>
      <mat-label>Count</mat-label>
      <input matInput  formControlName="count">
    </mat-form-field>
    <br/>
    <mat-form-field style="width: 13.2rem;font-size: 0.90rem;">
      <mat-label style="font-size: 1rem;">Gross Start Time</mat-label>
      <input matInput required [ngxMatDatetimePicker]="picker" placeholder="Choose a date" formControlName="startTimestamp"
             [min]="minDate" [max]="maxDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <ngx-mat-datetime-picker #picker [showSpinners]="showSpinners" [showSeconds]="showSeconds" [stepHour]="stepHour"
                               [stepMinute]="stepMinute" [stepSecond]="stepSecond" [touchUi]="touchUi" [color]="color"
                               [enableMeridian]="enableMeridian">
      </ngx-mat-datetime-picker>
    </mat-form-field>
    <br/>
    <mat-form-field style="width: 13.2rem;font-size: 0.90rem;">
      <mat-label style="font-size: 1rem;">Gross End Time</mat-label>
      <input matInput [ngxMatDatetimePicker]="picker2" placeholder="Choose a date" formControlName="endTimestamp"
             [min]="minDate" [max]="maxDate">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <ngx-mat-datetime-picker #picker2 [showSpinners]="showSpinners" [showSeconds]="showSeconds" [stepHour]="stepHour"
                               [stepMinute]="stepMinute" [stepSecond]="stepSecond" [touchUi]="touchUi" [color]="color"
                               [enableMeridian]="enableMeridian">
      </ngx-mat-datetime-picker>
    </mat-form-field>
    <br/>
  </mat-dialog-content>
  <br/>
  <div style="text-align: center;margin-bottom: 0.4rem;">
    <mat-dialog-actions style="justify-content: center;padding-top:0;">
      <button
        mat-stroked-button
        color="accent"
        (click)="revertSession()"
        class="listing-table-tools tdhover"
        style="margin-left: 2px;padding-left: 22px;"
        matTooltip="Revert to original"
        matTooltipClass="tooltip-class"
        matTooltipHideDelay="100"
        matTooltipPosition="below"
        [disabled]="beingSaved || originalSession.isOriginal"
      >
        <mat-icon>settings_backup_restore</mat-icon>
      </button>
      <button mat-stroked-button color="accent" (click)="close()" style="margin-left: 12px;">Close</button>
      <button mat-raised-button color="primary" (click)="updateSession()" style="margin-left: 12px;">Update Session</button>
    </mat-dialog-actions>
  </div>
</div>
