.mat-dialog-actions {
  display: inline-flex !important;
}

.mat-mdc-form-field {
  margin-top: 8px;
}

.left_handed_toggle {
  display: inline-block;
  margin-bottom: 1rem;
  position: relative;
  text-align: left;
  margin-left: -3.2rem;
}

::ng-deep.mat-datepicker-content-container {
  box-shadow: #00000040 0 14px 45px, #00000038 0 10px 18px !important;
}
::ng-deep.mat-datepicker-content .mat-calendar {
  background-color: #555 !important;
}

::ng-deep.time-container {
  background-color: #555 !important;
}

::ng-deep.mat-calendar-body-cell-content.mat-focus-indicator {
  color: white !important;
  border: 1px white solid!important;
}
