<div class="container">
  <div class="page-top-space">
    <mat-card class="page-main-card">
      <div>
        <span style="font-size: 2rem;">Settings</span>
        <div class="page-action">
          <nav mat-tab-nav-bar mat-align-tabs="left" class="tabs-selection" [tabPanel]="tabPanel">
            <a mat-tab-link
               *ngFor="let l of navigation"
               [routerLink]="rootUrl + l.link"
               [active]="this.router.url === rootUrl + l.link">
              {{l.name | uppercase}}
            </a>
          </nav>
        </div>
         
        
        <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
        <router-outlet></router-outlet>
      </div>
    </mat-card>
  </div>
</div>



