mat-toolbar {
  // background-image: linear-gradient(to bottom right,#167a8e,#01A0C6,#01ADC1,#00D0B3,#00F8A2);
  background: #243036;

  .nav-items{
      display: flex;
      flex-wrap: wrap;
      padding: 0rem 1.4rem;

      a.action{
        padding: 1.25rem 1rem;
          color: #dfdede;
          text-decoration: none;
        &.active-link{
          border-bottom: 2px solid;
          color: white;
        }
          &:hover{
              // background-color: #00D0B3;
              color: white;
          }
      }
  }
  ::ng-deep{
    .mat-mdc-form-field-type-mat-select{
      height: 100%;
      
      .mat-mdc-text-field-wrapper{
        padding: 0 8px;
      }
      .mdc-notched-outline{
        .mdc-notched-outline__leading,.mdc-notched-outline__trailing{
          border: 0;
        }
      }
      .mat-mdc-select-trigger{
        justify-content: end;
      }
  .mat-mdc-form-field-infix{
    min-height: 3rem ;
    padding-top: 9px;
    padding-bottom: 9px;
    width: 130px;
    .mat-mdc-select-value{
      width: auto;
      padding-right: 8px;
    }
  }
}
    
  }
  
}
.user_info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 4px;
  background: #00f8a2;
  margin-bottom: 0.2rem;
  color: #131a23;
  margin-top: -9px;
  background: linear-gradient(173deg, rgb(34 198 147) 0%, rgba(0, 248, 162, 1) 100%);
  min-width: 230px;
  span{
    &:first-child{
      font-size: 18px;
      font-weight: 500;
    }
    &:last-child{
      font-size: 14px;
    }
  }
 
}
.flex-grow{
  flex: 1 1 auto;
}


::ng-deep{
  .cdk-overlay-pane{
    min-width: 190px;
  }
} 