.mat-mdc-dialog-actions {
  display: inline-flex !important;
}

.show_on_watch_toggle {
  display: inline-block;
  position: relative;
  text-align: left;
  margin-left: -1.82rem;
  margin-bottom: 1rem;
}

.show_on_clock_toggle {
  display: inline-block;
  position: relative;
  text-align: left;
  margin-left: -2.2rem;
  margin-bottom: 1rem;
}
