.mat-mdc-dialog-actions {
  display: inline-flex !important;
  width: 100%;
}


.currency-input {
  padding-left: 2px;
}

input.currency-input::-webkit-outer-spin-button,
input.currency-input::-webkit-inner-spin-button {
  display: none;
}

input.currency-input {
  -moz-appearance: textfield;
}
